<div class="row justify-content-center mt-3">
        <img src= '/<%= pharma.image %>' alt="" class="rounded-circle" style="height: 95px;width: 120px;">
        <h6 class="text-white text-center mt-2">Pharmacist</h6>
        <h5 class="text-white text-center mt-2"><%= pharma.username %></h5>
    </div>
<div class="list-group rounded-0 mt-2">
    <a href="/pharma"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Dashboard</a >
    <a href="/pharma/prescription-dashboard"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Prescription</a >
    <a href="/pharma/inventory-dashboard"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Inventory</a >
    <a href=""  class="list-group-item  border-0 list-group-item-action  bg-danger text-light">Logout</a >
</div>