<%- include('../navbar') %>
<div class="container-fluid ps-0">
    <div class="row w-100 p-0">
        <div class="col-2" id="side" style="height:91vh;">
            <%- include('../side') %>
        </div>
        <div class="col-10">
            <div class="row mt-4">
                <div class="col-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body ms-2">
                            <h1 class="display-7"><i class="bi bi-calendar3-event"></i></h1>
                        <a href="/pharma/add-inventory" class="h5 text-light text-decoration-none">View and Add Items</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body ms-2">
                            <h1 class="display-7"><i class="bi bi-calendar3-event"></i></h1>
                        <a href="/pharma/update-inventory" class="h5 text-light text-decoration-none">Update Items</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body ms-2">
                            <h1 class="display-7"><i class="bi bi-calendar3-event"></i></h1>
                        <a href="/pharma/bill-generation" class="h5 text-light text-decoration-none">Generate Bill</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
